body {
    background-color: black;
    padding: 0;
    margin: 0;
    max-width: 100%;
}

.signupBody {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}

.signupForm, button {
    display: flex;
    margin: 0 auto;
    padding: 5% 5% 5% 5%;
    border: 1px solid white;
    border-radius: 1%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    /* font-weight: 500; */
}

button:hover {
    background-color: black;
    color: green;
}

p.form-text {
    font-size: 32px;
}

.app {
    color: green;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}